.menu {
  transition: transform 1s ease;
}

.btn {
  width: 34px;
  height: 34px;
  font-size: 1rem;
  padding: 0;
  border-radius: 4px;
  transition: all 0.2s ease;

  &:hover {
    background-color: #f0f0f0 !important;
    border-color: #d9d9d9 !important;
    box-shadow: none !important;
    color: #000 !important;
  }
}

.open {
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
